@import "reset", "config", "mixins";

.page {
	@include media(largeMobile) {
		align-items: flex-start;
	}
}

.context {
	.form-cnt__header {
		text-align: center;
		font-size: 6rem;
		margin: 1rem 0;
		font-weight: 400;
		color: $secondary-color;
	}

	.send {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		padding: 1rem;
	}

	.form {
		@include flex-center(column);

		padding: 12.5rem 15rem;
		background: white;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
		border-radius: 25px;

		@include media(tablet) {
			box-shadow: none;
		}

		@include media(largeMobile) {
			width: 100%;
			padding: 1rem;
			background: none;
			box-shadow: none;
		}

		&__double-row {
			@include flex-center(column);

			&:first-child {
				padding-bottom: 6.4rem;
			}
		}

		@include media(pc) {
			align-items: stretch;

			&__double-row {
				@include flex-center(row);
				flex-grow: 1;
				gap: 3.2rem;

				&:first-child {
					padding-bottom: 0;
				}

				.input-cnt {
					@include flex-center;
					margin-top: 6.4rem;
				}
			}
			.form__input {
				&--text {
					width: 100%;
				}
			}
		}

		&__group {
			@include flex-center(column);
			margin: 1rem 0;
			border: none;
			font-size: 1.5rem;
			color: $secondary-color;
		}

		.info {
			@include style-input;

			&__description {
				position: absolute;
				pointer-events: none;
				top: 110%;
				left: 0;
				opacity: 0;
				padding: 1rem;
				margin: 0.5rem 0;
				background: white;
				border-radius: 0.75rem;
				box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
				transition: opacity 0.5s 0.2s ease;
			}

			&__side-icon {
				@include flex-center;
				position: absolute;
				top: 50%;
				right: 0;
				width: 32px;
				height: 32px;
				transform: translateY(-50%);
				padding: 0.5rem 1rem;
				background: $secondary-color;
				color: white;
				border-radius: 0.75rem;
				margin: 0 1rem;
				cursor: help;
				&:hover {
					& ~ .info__description {
						opacity: 1;
					}
				}
			}
		}

		.input-cnt {
			position: relative;
			display: inline-block;
			color: map-get($white, "7");
			&:not(&:first-child) {
				margin-top: 6.4rem;
			}

			&--hidden {
				display: none;
			}
		}

		&__input--text {
			outline: none;
			width: 300px;
			height: 50px;
			border: none;
			padding: 1.3rem;
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
			border: 3px solid transparent;
			border-radius: 10px;
			font-size: 2rem;

			&::placeholder {
				color: map-get($white, "6");
			}

			&:focus {
				border-color: $secondary-color;
			}

			&:focus + .info__placeholder {
				color: $secondary-color;
				transform: translate(-15px, -55px);
			}

			&:focus ~ .info__side-icon {
				opacity: 1;
			}

			&:valid + .info__placeholder {
				color: $secondary-color;
				transform: translate(-15px, -55px);
			}

			&:valid:not(&:focus) + .info__placeholder {
				color: black;
			}

			&:invalid:not(&:focus, &:placeholder-shown) + .info__placeholder {
				color: $danger-color;
				transform: translate(-15px, -55px);
			}
		}

		&__button--submit {
			outline: none;
			padding: 1rem 3rem;
			margin-top: 4.8rem;
			color: white;
			border: none;
			background: $secondary-color;
			min-width: 300px;
			height: 50px;
			font-size: 2.5rem;
			font-family: "Inter";
			font-weight: 400;
			cursor: pointer;
			transition: background 0.2s 0s ease;
			box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
			border-radius: 10px;

			&:active {
				background: map-get($white, "4");
			}
		}
	}

	.info {
		@include flex-center(column);
		gap: 3.2rem;
	}
}

.error {
	font-size: 1.3rem;
	margin: 0.2rem;
	color: red;
}

.options {
	@include flex-center(column);
	margin: 1rem;
	font-size: 1.4rem;
	color: map-get($white, "7");
}

.mini-link {
	@include flex-center;
	font-size: 1.75rem;
	height: 64px;
	text-decoration: none;
	color: $secondary-color;
}
