<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="../css/test.css" />
		<script defer="defer" src="../js/sendTest.js"></script>
	</head>
	<body class="page">
		<div class="communicat">
			<h1 class="communicat__text">This site doesn't exist, if you sure that's mistake report this</h1>
			<img src="../img/404.svg" alt="" class="communicat__img" />
		</div>
	</body>
</html>
