@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap");
@keyframes closing {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
@keyframes loading {
  100% {
    transform: rotate(1turn);
  }
}
::selection {
  background: hsl(200deg, 100%, 50%);
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: hsl(200deg, 100%, 50%);
  border: 2px solid rgb(243, 243, 243);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
  background: #33bbff;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.05);
}

/* The track NOT covered by the handle. */
::-webkit-scrollbar-track-piece {
  background: transparent;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Resizer */
::-webkit-resizer {
  background: transparent;
}

.page {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: radial-gradient(#00f2fe 30%, #4facfe 100%);
  color: rgb(175, 175, 175);
  overflow: hidden;
}

@keyframes closing {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
@keyframes loading {
  100% {
    transform: rotate(1turn);
  }
}
::selection {
  background: hsl(200deg, 100%, 50%);
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: hsl(200deg, 100%, 50%);
  border: 2px solid rgb(243, 243, 243);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
  background: #33bbff;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.05);
}

/* The track NOT covered by the handle. */
::-webkit-scrollbar-track-piece {
  background: transparent;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Resizer */
::-webkit-resizer {
  background: transparent;
}

.page {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: radial-gradient(#00f2fe 30%, #4facfe 100%);
  color: rgb(175, 175, 175);
  overflow: hidden;
}

:root {
  font: 62.5% "Open Sans", "Nanum Gothic", serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes load-finishing {
  0% {
    border-color: rgb(200, 200, 200);
  }
  100% {
    border-color: rgb(200, 200, 200);
    transform: scale(30);
  }
}
@keyframes slide-vertically {
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-horizontally {
  100% {
    transform: translateX(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bg-loader {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  transition: opacity 0.5s 0.4s ease-in-out;
}
.bg-loader .loader {
  width: 50px;
  height: 50px;
  border-left-color: hsl(200deg, 100%, 50%);
}
.bg-loader--finished {
  opacity: 0;
}
.bg-loader--finished .loader {
  animation: load-finishing 0.9s 0s ease-in-out forwards;
}

.box {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: nowrap;
}
.box--main {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: rgb(245, 245, 255);
  gap: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  opacity: 0;
  animation: appear 0.5s 0.8s ease-in-out forwards;
}
@media only screen and (max-width: 579px) {
  .box--main {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    overflow: auto;
  }
}
.box__logo {
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  max-width: 250px;
  max-height: 250px;
  border-radius: 2rem;
}
.box__button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 1rem;
  width: 250px;
  height: 250px;
  font-size: 2.8rem;
  background: hsl(200deg, 100%, 50%);
  font-family: inherit;
  border-radius: 2rem;
  color: white;
  transition: all 0.2s 0s ease-out;
}
.box__button:hover {
  background: #24b6ff;
}
.box__button:active {
  background: rgb(225, 225, 225);
}
.box__tile {
  opacity: 0;
  margin: 1rem;
}
.box__tile:nth-child(2) {
  transform: translateY(-120%);
  animation: appear 0.6s 0.6s ease forwards, slide-vertically 0.6s 0.8s ease forwards;
}
.box__tile:last-child {
  transform: translateX(120%);
  animation: appear 0.6s 0.6s ease forwards, slide-horizontally 0.6s 0.8s ease forwards;
}
.box__tile:nth-child(3) {
  transform: translateY(120%);
  animation: appear 0.6s 0.6s ease forwards, slide-horizontally 0.6s 0.8s ease forwards;
}
.box__tile:first-child {
  transform: translateX(-120%);
  animation: appear 0.6s 0.6s ease forwards, slide-vertically 0.6s 0.8s ease forwards;
}

.tests {
  display: none;
}

.window {
  position: absolute;
  background: rgb(245, 245, 255);
  box-shadow: 0 0 15px -5px rgb(200, 200, 200);
  border-radius: 2rem;
  z-index: 10;
  overflow: hidden;
}
.window--open {
  animation: closing 0.13s 0s forwards reverse;
}
.window--close {
  animation: closing 0.13s 0s forwards;
}
.window--max {
  width: 100vw !important;
  height: 100vh !important;
  border-radius: 0;
}
.window__top-bar, .window__bottom-bar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0;
  left: 0;
  margin-top: 1rem;
  background: #f0f0ff;
}
.window__top-bar {
  margin: 0;
  padding: 1rem;
  gap: 1rem;
}
.window__content {
  position: relative;
  overflow: hidden;
}
.window__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 0.5rem;
}
.window__header--disabled {
  display: none;
}
.window__title {
  font-size: 2rem;
  pointer-events: none;
  user-select: none;
}
.window__canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.window__button {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: none;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.7rem;
  background: hsl(200deg, 100%, 50%);
  font-family: inherit;
  color: white;
  opacity: 0.8;
  min-width: 48px;
  height: 48px;
  transition: all 0.2s 0s ease-out;
}
.window__button:hover {
  opacity: 1;
}
.window__button:active {
  background: rgb(225, 225, 225);
}
.window__input {
  outline: none;
  border: none;
  box-shadow: inset 0 0 0 1px rgb(241, 241, 241);
  border-radius: 0.75rem;
  padding: 0.85rem;
  font-size: 1.85rem;
  font-family: inherit;
  min-width: 200px;
  width: 69%;
  height: 40px;
  color: rgb(150, 150, 150);
  background: white;
  transition: box-shadow 0.2s 0s ease;
}
.window__input::placeholder {
  opacity: 1;
  color: rgb(175, 175, 175);
  transition: color 0.2s 0s ease;
}
.window__input:focus {
  box-shadow: inset 0 0 2px 1px hsl(200deg, 100%, 50%);
}
.window__input:focus::placeholder {
  color: rgb(200, 200, 200);
}
.window__win-button {
  outline: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0.1rem;
  font-size: 1.5rem;
  border: none;
  color: rgb(150, 150, 150);
  background: transparent;
}
.window__win-button:hover {
  background: rgba(220, 220, 220, 0.6);
}
.window__win-button:active {
  background: rgb(220, 220, 220);
}
.window__win-button--blocked {
  opacity: 0.5;
}
.window__win-button--blocked:hover {
  background: transparent;
}
.window__win-button--blocked:active {
  background: transparent;
}

/*# sourceMappingURL=window.css.map */
